body {
    position: relative;
    width: 1200px;
    height: 650px;
    
    background: #876445;
}

#grin {
    position: absolute;
    width: 450px;
    height: 221.12px;
    left: 720px;
    top: calc(50% - 250px/2 - 200px);

}

header{
    position: absolute;
    width: 619px;
    height: 165px;
    left: calc(50% - 619px/2 - 264.5px);
    top: calc(50% - 165px/2 - 207.5px);
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 84px;
    text-align: center;
    
    color: #FFFFFF;
    
    border: 1px solid #EEC373;
}

h1 {
    position: absolute;
    width: 450px;
    height: 40px;
    left: 720px;
    top: 238px;

        position: absolute;
        width: 450px;
        height: 40px;
        left: calc(50% - 377px/2 + 308px);
        top: calc(50% - 80px/2 - 75.5px);

        background: #EEC373;

    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
/* identical to box height */

    text-align: center;

    color: #000000;

    border: 1px solid #000000;

}

p {
    position: absolute;
    width: 591px;
    height: 120px;
    left: 40px;
    top: 200px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
    
}

h2 {
    position: absolute;
    width: 360px;
    height: 34px;
    left: calc(50% - 283px/2 + 306.5px);
    top: 259px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    
    color: #FFFFFF;
    
    border: 1px solid #EEC373;   
}

#coins {
    position: absolute;
    width: 230.16px;
    height: 150px;
    left: 105px;
    top: 355px;    
}

#card {
    position: absolute;
    width: 186.51px;
    height: 150px;
    left: 385px;
    top: 355px;  
}

h3 {
    position: absolute;
    width: 498px;
    height: 42px;
    left: 86px;
    top: 515px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    
    color: #FFFFFF;

}

footer {
    position: absolute;
    width: 970px;
    height: 26px;
    left: 0px;
    top: 600px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 17.8667px;
    line-height: 23px;
    text-align: center;
    
    color: #FFFFFF;
      
}

#escudo {
    position: absolute;
    width: 40px;
    height: 47px;
    left: 21px;
    top: 580px;
    border-radius: 14px;
}

.tarjeta {
    position: absolute;
    width: 360px;
    height: 30px;
    left: 765px;
    top: 320px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #FFFFFF;
      
}

#tar {
    position: absolute;
    width: 360px;
    height: 25px;
    left: 765px;
    top: 350px;
    
    background: #F4DFBA;
}

#respuesta {
    position: absolute;
    width: 500px;
    height: 30px;
    left: 700px;
    top: 377px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    
    color: #360101;
}

.identificacion {
    position: absolute;
    width: 360px;
    height: 30px;
    left: 765px;
    top: 400px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #FFFFFF;
    
}

#ident {
    position: absolute;
    width: 360px;
    height: 25px;
    left: 765px;
    top: 430px;
    
    background: #F4DFBA;    
}

.boveda {
    position: absolute;
    width: 360px;
    height: 30px;
    left: 765px;
    top: 460px;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #FFFFFF;    
}

#bov {
    position: absolute;
    width: 360px;
    height: 25px;
    left: 765px;
    top: 490px;
    
    background: #F4DFBA;
}

#registrar {
    position: absolute;
    width: 180px;
    height: 50px;
    left: 720px;
    top: 535px;

        position: absolute;
        width: 180px;
        height: 50px;
        left: 720px;
        top: 535px;

        background: #EEC373;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
    cursor: pointer;
    
}

#limpiar {
    position: absolute;
    width: 180px;
    height: 50px;
    left: 990px;
    top: 535px;

        position: absolute;
        width: 180px;
        height: 50px;
        left: 990px;
        top: 535px;

        background: #EEC373;
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    
    color: #000000;
    

    cursor: pointer;
    
}

#errort {
    position: absolute;
    width: 150px;
    height: 25px;
    left: 645px;
    top: 345px;
    font-size: 15px;
    color: #360101;
}

#errori {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 645px;
    top: 410px;
    font-size: 15px;
    color: #360101;
}

#errorb {
    position: absolute;
    width: 150px;
    height: 10px;
    left: 645px;
    top: 480px;
    font-size: 15px;
    color: #360101;

}